<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Adeguatezza complessiva
        <br>
        <small>Valutazione obbiettivi di rischio, limiti operativi, indicatori di rischio</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Adeguatezza complessiva</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Obiettivi di rischio</h3>
                </div>
				<div google-chart chart="chart" style="min-height:400px;height: 100%;width: 100%;margin:auto;background:#fff;text-align:center"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Limiti operativi</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-condensed">
                        <tr>
                            <th>Processi aziendali</th>
                            <th>Limiti operativi</th>
                        </tr>
                        <tr>
                            <td>Processo creditizio</td>
                            <td>
                                <span class="label label-warning">Violazione entro il margine</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Processo finanziario</td>
                            <td>
                                <span class="label label-success">Nessuna violazione</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Processo di tesoreria</td>
                            <td>
                                <span class="label label-danger">Violazione oltre il margine</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Indicatori di rischio</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-condensed">
                        <tr>
                            <th>Tipologia di rischio</th>
                            <th>Segnali indicatori di rischio</th>
                        </tr>
                        <tr>
                            <td>Rischio di credito</td>
                            <td>
                                <span class="label label-success">Normale corso degli eventi</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di controparte</td>
                            <td>
                                <span class="label label-success">Normale corso degli eventi</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di mercato</td>
                            <td>
                                <span class="label label-danger">Anomalia</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio operativo</td>
                            <td>
                                <span class="label label-success">Normale corso degli eventi</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di concentrazione</td>
                            <td>
                                <span class="label label-success">Normale corso degli eventi</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di tasso di interesse</td>
                            <td>
                                <span class="label label-danger">Anomalia</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di liquidit&agrave;</td>
                            <td>
                                <span class="label label-danger">Anomalia</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio residuo</td>
                            <td>
                                <span class="label label-success">Normale corso degli eventi</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio strategico</td>
                            <td>
                                <span class="label label-danger">Anomalia</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di conformit&agrave;</td>
                            <td>
                                <span class="label label-success">Normale corso degli eventi</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rischio di reputazione</td>
                            <td>
                                <span class="label label-danger">Anomalia</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>
<!-- /.content -->