<div class="modal-div"></div>
<div class="login-container-view">
    <div class="login-logo">
    </div>
    <div class="desktopLogo" style="color:#597883">Accedi a mobile<span style="color:red; font-weight: 400">Desktop</span>
    </div>
    <form role="form" ng-submit="login()" class="login-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome utente">
        </div>
        <div class="form-group input-group input-group-sm">
            <input type="password" class="form-control" placeholder="Password">
            <span class="input-group-btn" style="padding-bottom:5px">
                <button class="btn btn-default btn-flat" type="submit"><i class="fa fa-sign-in"></i></button>
            </span>
        </div>
    </form>
</div>